div.header.row
  .col-sm-6.col-sm-offset-3.col-xs-12
    ul.nav.pull-right
      li
        a(ng-href="#")
          span.glyphicon.glyphicon-log-in
          span &nbsp; Log in
      li
        a(ng-href="#")
          span.glyphicon.glyphicon-star
          span &nbsp; Register
    h3 Echopinion

div.row#hashtags
  h1.headline Join the discussion

  .tag-search
    input.form-control.input-lg(placeholder="Search for topic")

div.row.marketing

div.footer
  .col-sm-6.col-sm-offset-3.col-xs-12
    ul.footer-nav.pull-left
      li: a About
      li: a TOS
      li: a Support
      li: a Privacy
