div.header
  ul.nav.nav-pills.pull-right
    li.active
      a(ng-href="#") Home
    li
      a(ng-href="#") About
    li
      a(ng-href="#") Contact
  h3.text-muted Echopinion

div#hashtags.jumbotron

//
  .hashtag: .size-1 Religion
  .hashtag: .size-2 Obama
  .hashtag: .size-4 Apple
  .hashtag: .size-2 Github
  .hashtag: .size-5 Shopping
  .hashtag: .size-1 Apraxim
  .hashtag: .size-2 Echopinion
  .hashtag: .size-1 Religion
  .hashtag: .size-2 Obama
  .hashtag: .size-4 Apple
  .hashtag: .size-2 Github
  .hashtag: .size-5 Shopping
  .hashtag: .size-1 Apraxim
  .hashtag: .size-2 Echopinion
  .hashtag: .size-1 Religion
  .hashtag: .size-2 Obama
  .hashtag: .size-4 Apple
  .hashtag: .size-2 Github
  .hashtag: .size-5 Shopping
  .hashtag: .size-1 Apraxim
  .hashtag: .size-2 Echopinion
  .hashtag: .size-1 Religion
  .hashtag: .size-2 Obama
  .hashtag: .size-4 Apple
  .hashtag: .size-2 Github
  .hashtag: .size-5 Shopping
  .hashtag: .size-1 Apraxim
  .hashtag: .size-2 Echopinion

div.row.marketing
  h4 HTML5 Boilerplate
  p HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.

  h4 Angular
  p AngularJS is a toolset for building the framework most suited to your application development.

  h4 Karma
  p Spectacular Test Runner for JavaScript.

div.footer
  p
    span.glyphicon.glyphicon-heart
    |  from the Yeoman team
